*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(242, 242, 242);
}
/* Styling to the nav bar + hover */
ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}
a, li{
    padding: 1.5rem;
    font-family: Agbalumo;
}
a, li:hover{
    color: aliceblue;
    cursor: pointer;
}

/* fixing the header */
header{
    display: flex;
}
.header-buttons{
  position: relative;
  left: 50%;
  padding-top: 1rem;
}
.header-button{
    padding: 5px;
    margin: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.header-button:hover{
    background-color: aliceblue;
}
/* styling the img1 + Positioning */
.img1{
    position: relative;
    left: 40%;
}
/* styling the footer */
footer{
    display: flex;
    justify-content: center;
}
/* the color to the footer a tags */
.white{
    color: black;
    font-size: 2rem;
}
.white:hover{
    color: aliceblue;
}
/* styling the container and text */
.container1{
    margin-top: 0.5rem;
    display: flex;
}
h1{
    font-size: 50px;
    margin-bottom: -20px;
}
h2{
    font-size: 35px;
    color: rgb(255, 191, 95);
}
h1, h2, p{
    font-family: Edu TAS Beginner;
    padding: 0.5rem;
}
.contained-text{
    font-size: 23px;
    padding: 1rem;
}
/* styling the 2nd container text and img */
.container2{
    margin-top: 5rem;
    display: flex;
}
.contained-text2{
    position: relative;
    bottom: 1rem;
    font-size: 23px;
    padding: 1rem;
}
.h2{
    color: black;
}
img{
    border-radius: 3.5px;
}