*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(242, 242, 242);
}
/* Styling to the nav bar + hover */
ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}
a, li{
    padding: 1.5rem;
    font-family: Agbalumo;
}
a, li:hover{
    color: aliceblue;
    cursor: pointer;
}

/* fixing the header */
header{
    display: flex;
}
.header-buttons{
  position: relative;
  left: 50%;
  padding-top: 1rem;
}
.header-button{
    padding: 5px;
    margin: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.header-button:hover{
    background-color: aliceblue;
}
/* styling the img1 + Positioning */
.img1{
    display: flex;
    justify-content: center;
}
/* styling the container and text location  */
.container{
   display: flex;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
}
.description{
    padding: 8rem;
    font-size: 2rem;
}
.buttons{
   padding: 0.4rem;
}
.order-button{
    font-size: 18px;
    border: none;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
    color: white;
}
.order-button:hover{
    cursor: pointer;
    background-color: rgb(131, 191, 255);
}
.Yellow{
    color: rgb(218, 218, 64);
}
.orange{
    color: orangered;
}
.moka{
    color: rgb(234, 207, 160);
}
.green{
    color: rgb(47, 204, 26);
}
.purple{
    color: plum;
}
h2{
    font-family: Edu TAS Beginner;
}
